<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="google-site-verification" content="NHrvKhiunQfON0ay47wSK6UQTdEeJAvmYZpi9Si68TY" />
    <link href=data:, rel=icon>
    {{ $style := resources.Get "style.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}" />
    <title>{{ block "title" . }}{{ if isset .Params "title" }}{{ .Params.title }} - {{ end }}{{ .Site.Title }}{{ end }}</title>
  </head>
  <body>
    {{ block "main" . }}
      <div class="container--column">
        <h1>{{ .Site.Title }}</h1>
        {{ block "content" . }}{{ end }}
      </div>
    {{ end }}
    <div class="container--column">
      <hr>
      <p>Data provided and maintained by <a href="http://dixielandsoftware.net/Amtrak/status/StatusMaps/">dixielandsoftware.net</a>. Site built by <a href="https://jonathanhunsucker.com">Jonathan Hunsucker</a>. Not affiliated with Amtrak.</p>
    </div>
    {{ template "_internal/google_analytics_async.html" . }}
  </body>
</html>
