{{ define "content" }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js" integrity="sha256-H9jAz//QLkDOy/nzE9G4aYijQtkLt9FvGmdUTwBk6gs=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
  <script type="text/javascript">
    class Defaults {
      static get blue() {
        return 'rgba(0, 0, 255, 0.8)';
      }
      static get translucentBlue() {
        return 'rgba(0, 0, 255, 0.1)';
      }
      static get red() {
        return 'rgba(255, 0, 0, 0.8)';
      }
    }

    class Functional {
      static get unique() {
        return (accumulation, item) => {
          return accumulation.indexOf(item) === -1 ? accumulation.concat(item) : accumulation;
        };
      }
    }
  </script>

  {{ $data := getJSON (printf "%s%d%s" "data/train/" .Params.number ".json") }}
  <script type="text/javascript">
    const raw = JSON.parse({{ $data | jsonify }});
    console.log(raw);
  </script>

  <p>← {{ partial "route/link" $data.route }}</p>
  <h2>{{ $data.name }}</h2>
  <table>
    <tbody>
      <tr>
          <td>Itinerary</td>
          <td>{{ partial "train/itinerary" .Params.number }}</td>
      </tr>
      <tr>
          <td>Data</td>
          <td>{{ $data.stats.valid_records }} valid records found</td>
      </tr>
      <tr>
          <td>Timeliness</td>
          <td>Typically {{ $data.stats.median }} minutes late, but occasionally {{ $data.stats.p90 }} minutes late or worse</td>
      </tr>
      <tr>
        <td>Disruptions</td>
        <td>{{ $data.stats.service_disruptions }} extreme delays and {{ $data.stats.cancellations }} cancellations</td>
      </tr>
    </tbody>
  </table>

  <h3>Arrival delay over time</h3>
  <div id="visualization--arrival-time-scatter"></div>
  <script type="text/javascript">
    (function () {
      const container = document.getElementById("visualization--arrival-time-scatter");
      const canvasElement = document.createElement("canvas");
      container.appendChild(canvasElement);

      const context = canvasElement.getContext("2d");
      const data = {
        // Labels should be Date objects
        labels: Object.keys(raw.records).map((yyyymmdd) => moment(yyyymmdd, 'YYYY-MM-DD').toDate()),
        datasets: [{
          fill: false,
          showLabel: false,
          label: 'Arrival delay',
          data: Object.values(raw.records).map((record) => record.cancelled || record.delay === null ? null : record.delay),
          backgroundColor: Defaults.blue,
          borderColor: Defaults.blue,
          showLine: false,
        }]
      };
      const options = {
        type: 'line',
        data: data,
        options: {
          animation: {
            duration: 0,
          },
          responsive: true,
          legend: {
            display: false,
          },
          scales: {
            xAxes: [{
              type: 'time',
              time: {
                tooltipFormat: 'YYYY-MM-DD',
              },
              scaleLabel: {
                display: true,
                labelString: "Date",
              }
            }],
            yAxes: [{
              scaleLabel: {
                display: true,
              }
            }]
          }
        }
      }
      const chart = new Chart(context, options);
    })();
  </script>

  <h3>Arrival delay distribution</h3>
  <div id="visualization--arrival-time-histogram"></div>
  <script type="text/javascript">
    (function () {
      const container = document.getElementById("visualization--arrival-time-histogram");
      const canvasElement = document.createElement("canvas");
      container.appendChild(canvasElement);

      // array of dates
      var candidates = Object.values(raw.records).filter((record) => !(record.cancelled || record.actual_arrival === null));
      var arrivalTimes = candidates.map((entry) => {
        return entry.actual_arrival;
      }).filter((item, index, list) => index === list.indexOf(item));
      var labels = arrivalTimes.map((actual_arrival) => {
        return moment('1970-01-01 ' + actual_arrival, 'YYYY-MM-DD hmma').toDate();
      });

      const data = {
				labels: labels,
				datasets: [{
					label: 'Trains',
					data: arrivalTimes.map((time) => candidates.filter((candidate) => candidate.actual_arrival === time).length),
          backgroundColor: Defaults.blue,
          borderColor: Defaults.blue,
        }]
			};

      var config = {
        type: 'bar',
        data: data,
        options: {
          animation: {
            duration: 0,
          },
          legend: {
            display: false,
          },
          scales: {
            xAxes: [{
              type: 'time',
              barPercentage: .5,
              display: true,
              time: {
                tooltipFormat: 'HH:mm',
              }
            }],
          },
        }
      };

      const chart = new Chart(canvasElement.getContext("2d"), config);
    })();
  </script>

  <h3>Trip progress</h3>
  <div id="visualization--trip-progress"></div>
  <script type="text/javascript">
    (function () {
      const container = document.getElementById("visualization--trip-progress");
      const canvasElement = document.createElement("canvas");
      container.appendChild(canvasElement);

      const context = canvasElement.getContext("2d");

      function dataset(data, color, pointRadius) {
        return {
          fill: false,
          lineTension: 0,
          borderWidth: 1,
          pointRadius: pointRadius !== undefined ? pointRadius : 2,
          label: 'Arrival delay',
          data: data,
          backgroundColor: color,
          borderColor: color,
        };
      }

      function toDate(hmma, days) {
        return moment('2019-01-02 ' + hmma, 'YYYY-MM-DD hmma').add(days, 'days').toDate();
      }

      const datasets = [dataset(Object.values(raw.records)[0].lines.map((line, index) => {
        const time = line.scheduled_departure || line.scheduled_arrival;
        const days = line.scheduled_departure_day || line.scheduled_arrival_day;;
        return {x: toDate(time, days), y: line.stop};
      }), Defaults.red, 0)].concat(Object.entries(raw.records).map(([key, record]) => {
        const data = record.lines.map((line, index) => {
          if (line.actual_departure === null || index === record.lines.length - 1) {
            time = line.actual_arrival;
            days = line.actual_arrival_day;
          } else {
            time = line.actual_departure;
            days = line.actual_departure_day;
          }

          if (!time) {
              return null;
          }

          return {x: toDate(time, days), y: line.stop};
        }).filter((point) => point !== null);

        return dataset(data, Defaults.translucentBlue);
      }));

      const data = {
        datasets: datasets
      };
      const options = {
        type: 'line',
        data: data,
        options: {
          tooltips: {
          //  enabled: false,
          },
          animation: {
            duration: 0,
          },
          responsive: true,
          legend: {
            display: false,
          },
          scales: {
            xAxes: [{
              type: 'time',
              scaleLabel: {
                display: true,
                labelString: "Date",
              }
            }],
            yAxes: [{
              type: 'category',
              labels: Object.values(raw.records).reduce((accumulation, record) => accumulation.concat(record.lines.map((line) => line.stop)), []).reduce(Functional.unique, []),
              scaleLabel: {
                display: true,
              }
            }]
          }
        }
      }
      const chart = new Chart(context, options);
    })();
  </script>
{{ end }}
