{{ define "content" }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js" integrity="sha256-H9jAz//QLkDOy/nzE9G4aYijQtkLt9FvGmdUTwBk6gs=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
  <script type="text/javascript">
    class Defaults {
      static get blue() {
        return `rgba(0, 0, ${16*16}, 0.8)`;
      }
    }
  </script>

  {{ $data := getJSON (printf "%s%d%s" "data/train/" .Params.number ".json") }}
  <script type="text/javascript">
    const raw = JSON.parse({{ $data | jsonify }});
  </script>

  <h2>{{ $data.name }}</h2>
  <p>Itinerary: Departs from {{ partial "stop" $data.origin.stop }} at {{ $data.origin.time }}, bound for {{ partial "stop" $data.destination.stop }} at {{ $data.destination.time }}</p>
  <p>Route: {{ partial "route" $data.route }}</p>
  <p>Data: {{ $data.stats.valid_records }} valid records found ({{ $data.stats.missing_data }} records excluded due to missing data)</p>
  <p>Stats: median delay of {{ $data.stats.median }} minutes ({{ $data.stats.cancellations }} cancellations)</p>

  <h3>Arrival delay over time</h3>
  <div id="visualization--arrival-time-scatter"></div>
  <script type="text/javascript">
    (function () {
      const container = document.getElementById("visualization--arrival-time-scatter");
      const canvasElement = document.createElement("canvas");
      container.appendChild(canvasElement);

      const context = canvasElement.getContext("2d");
      const data = {
        // Labels should be Date objects
        labels: Object.keys(raw.records).map((yyyymmdd) => moment(yyyymmdd, 'YYYY-MM-DD').toDate()),
        datasets: [{
          fill: false,
          showLabel: false,
          label: 'Arrival delay',
          data: Object.values(raw.records).map((record) => record.cancelled || record.missing_data ? null : record.delay),
          backgroundColor: Defaults.blue,
          borderColor: Defaults.blue,
          showLine: false,
        }]
      };
      const options = {
        type: 'line',
        data: data,
        options: {
          animation: {
            duration: 0,
          },
          responsive: true,
          legend: {
            display: false,
          },
          scales: {
            xAxes: [{
              type: 'time',
              time: {
                tooltipFormat: 'YYYY-MM-DD',
              },
              scaleLabel: {
                display: true,
                labelString: "Date",
              }
            }],
            yAxes: [{
              scaleLabel: {
                display: true,
              }
            }]
          }
        }
      }
      const chart = new Chart(context, options);
    })();
  </script>

  <h4>Arrival delay distribution</h4>
  <div id="visualization--arrival-time-histogram"></div>
  <script type="text/javascript">
    (function () {
      const container = document.getElementById("visualization--arrival-time-histogram");
      const canvasElement = document.createElement("canvas");
      container.appendChild(canvasElement);

      // array of dates
      var candidates = Object.values(raw.records).filter((record) => !(record.cancelled || record.missing_data));
      var arrivalTimes = candidates.map((entry) => {
        return entry.actual_arrival;
      }).filter((item, index, list) => index === list.indexOf(item));
      var labels = arrivalTimes.map((actual_arrival) => {
        return moment('1970-01-01 ' + actual_arrival, 'YYYY-MM-DD hmma').toDate();
      });

      const data = {
				labels: labels,
				datasets: [{
					label: 'Trains',
					data: arrivalTimes.map((time) => candidates.filter((candidate) => candidate.actual_arrival === time).length),
          backgroundColor: Defaults.blue,
          borderColor: Defaults.blue,
        }]
			};

      var config = {
        type: 'bar',
        data: data,
        options: {
          animation: {
            duration: 0,
          },
          legend: {
            display: false,
          },
          scales: {
            xAxes: [{
              type: 'time',
              barPercentage: .5,
              display: true,
              time: {
                tooltipFormat: 'HH:mm',
              }
            }],
          },
        }
      };

      const chart = new Chart(canvasElement.getContext("2d"), config);
    })();
  </script>
{{ end }}
